/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2015, 2:52:19 PM
    Author     : rusky
*/

.header-login {
    min-width: 125px;
    font-size: 18pt;
}

.header-title {
    min-width: 400px;
}

.header-title a,
.header-title a:hover,
.header-title a:hover span{
    text-decoration: none;
}

.menu-item {
    margin-top: 10px;
}

.menu-item-active {
    background-color: #b90504 !important;
    border-radius: 15px;
}

.menu-item-active a {
    font-family: 'Poiret One', cursive;
    font-size: 18pt;
    font-weight: 800;
    color: #fff;
    text-decoration: none;
}

.menu-item a {
    font-family: 'Poiret One', cursive;
    font-size: 18pt;
    font-weight: 800;
    color: #333333;
    text-decoration: none;
}

.menu-item a:hover {
    border-bottom: 2px solid #990100;
    /*border-radius: 5px;*/
    width: 75%;
/*    background-color: #333333;
    color: #fff;*/
}

#search:visited {
    background-color: red;
}

.login-button {
    float: right;
}

.search-div {
    font-family: 'Poiret One', cursive;
    color: #fff;
    display: none;
    padding-top: 10px;
/*    position: absolute;*/
    width: 100%;
    background-color: #333333;
    border-radius: 15px;
    margin-top: -1px;
}

.search-background {
    background-color: #333333;
}

.search-button {
    float: left;    
}

.search-button > a:hover {
    text-decoration: none;
}

.search-button > a {
    text-decoration: none;
    margin-bottom: 10px;
}

.footer {
  position: relative;
  //margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

#carousel-divider {
  height: 25px;
}

.my-carousel-control {
  filter: alpha(opacity=50);
  opacity: 50;
  color: #990100;
}

.my-carousel-control:hover {
  filter: alpha(opacity=25);
  opacity: .25;
  color: #990100;
}

.right-arrow {
    right: 0;
    left: auto;
}

.shadow {
    box-shadow: 0 0 30px black;
}

.textured-background {
    background-image: url("images/hexellence.png");
    background-repeat: repeat;
}

.hor-divider {
    height: 10px;
}

.adopt-button {
    background-color: #b90504;
    font-size: 30pt;
    font-weight: 800;
    font-family: 'Poiret One', cursive;
    border-radius: 15px;
}

.adopt-button a,
.adopt-button a:hover {
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.adopt-button:hover
.adopt-button.a:hover {
    background-color: #990100;
}



